/* #par{
    display:flex;
    margin:auto;
    justify-content:space-between;
    width:1380px;
} */
*{
    font-family:'Roboto Slab';
}
#calc{
    border-radius:20px;
    border: 5px solid #4E4E4E;
    border-bottom-width:16px;
    width:330px;
    height:533px;
    margin:50px auto;
    background-color:rgb(254,250,243);
}
h3{
    font-weight:700;
}