*{
    font-family:'Roboto Slab';
    margin:0px;
    padding:0px;
}
#calc{
    border-radius:32px;
    border: 5px solid #4E4E4E;
    border-bottom-width:16px;
    width:330px;
    height:533px;
    background-color:rgb(254,250,243);
    margin:48px auto;
}
h3{
    font-weight:700;
}